<div>
    <header id="main_header_component">
        <img src="../../assets/img/logo_app.png" width="450" height="270">
        <!-- hasta aqui va el logotipo del header -->
        <label id="ordenar">Ordenar:</label>
        <select id="ordenar_dropdown" name="Ordenar --- " HSPACE="60" VSPACE="10">
            <option value="seleccionar">Seleccionar</option>
            <option value="A-Z">A - Z</option>
            <option value="Z-A">Z - A</option>
            <option value="1-...">1 - ...</option>
            <option value="...-1">... - 1</option>
        </select>
        <label id="filtrar">Filtrar por tipo:</label>
        <select id="filtrar_dropdown" name="Lorem ipsum..." HSPACE="60" VSPACE="10">
            <option value="filtrar---">Filtrar</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
        </select>
        <label id="buscar">Buscar:</label>
        <input type="text" size="15" placeholder="Nombre" name="nombre" HSPACE="60" VSPACE="10">
    </header>
</div>
