<nav>
    <img id="logo" src="../../../assets/img/logo_app.png" alt="" srcset="">
    <div class="header">
        <label id="ordenar">Ordenar:</label>
        <select id="ordenar_dropdown" name="Ordenar --- " HSPACE="60" VSPACE="10">
            <option value="seleccionar">Seleccionar</option>
            <option value="A-Z">A - Z</option>
            <option value="Z-A">Z - A</option>
            <option value="1-...">1 - ...</option>
        </select>
        <label id="filtrar">Filtrar por tipo:</label>
        <select id="filtrar_dropdown" name="filtrar" HSPACE="60" VSPACE="10">
            <option value="filtrar---">Filtrar</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
            <option value="Lorem ipsum...">Lorem ipsum...</option>
        </select>
        <label id="buscar">Buscar:</label>
        <input type="text" placeholder="buscar" size="15" name="buscar" HSPACE="60" VSPACE="10">
    </div>
</nav>
