<div class="contenedor"> 
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
<div class="contenedor-item-poke">
    <label>Nombre de pokemon</label>
    <img src="" alt="img de pokemon" srcset="../../assets/img/cajaX.png">
    <span id="tipo-pokemon">Tipo de pokemon</span>
    <span id="tipo-pokemon">Tipo de pokemon</span>
</div>
</div>